/* ----------------------------------------------------------------
                    HEADER
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
                    NAV 
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
                    MAIN
---------------------------------------------------------------- */
main .card_show_double{
    display: flex;
    margin-bottom: 1rem;
}
main .card_show_content{
    flex: 1;
    display: flex;
}
main .card_show_content_text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 1rem;
}
main .card_show_content_name{
    text-align: center;
    padding: 0.5rem;
    border: solid 0.25rem rgb(154, 152, 152);
}
main .card_show_content_eff{
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0.5rem;
}
/* ----------------------------------------------------------------
                    FOOTER
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
                    JS
---------------------------------------------------------------- */
